# LAB 02

In [1]:
import pandas as pd
import numpy as np
import re
import nltk
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /Users/wech/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/wech/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /Users/wech/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/wech/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

#### Dataset 1

In [2]:
df1 = pd.read_csv("datasets/enronSpamSubset.csv")

In [3]:
df1.head(15)

,Unnamed: 0,Unnamed: 0.1,Body,Label
0,2469,2469,Subject: stock promo mover : cwtd\n * * * urge...,1
1,5063,5063,Subject: are you listed in major search engine...,1
2,12564,12564,"Subject: important information thu , 30 jun 20...",1
3,2796,2796,Subject: = ? utf - 8 ? q ? bask your life with...,1
4,1468,1468,"Subject: "" bidstogo "" is places to go , things...",1
5,3676,3676,Subject: dont pay more than $ 100 for ur softw...,1
6,12991,12991,Subject: paliourg\n micros 0 ft for pennies\n ...,1
7,9884,9884,"Subject: all graphics software available , che...",1
8,8221,8221,"Subject: the man of stteel\n hello , welcome t...",1
9,5377,5377,"Subject: adjourn pasteup\n paliourg ,\n lookin...",1
10,9298,9298,Subject: need your medication ? we have them\n...,1
11,16316,16316,Subject: need your vics ?\n brand name meds su...,1
12,16283,16283,Subject: urgent security notification !\n dear...,1
13,3484,3484,Subject: re : interest rates are at 40 - year ...,1
14,9397,9397,Subject: unbeiievable investors info\n mnei - ...,1

In [4]:
len(df1.index)

10000

#### Dataset 2

In [5]:
df2 = pd.read_csv("datasets/completeSpamAssassin.csv")

In [6]:
df2.head(15)

    Unnamed: 0                                               Body  Label
0            0  \nSave up to 70% on Life Insurance.\nWhy Spend...      1
1            1  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
2            2  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3            3  ##############################################...      1
4            4  I thought you might like these:\n1) Slim Down ...      1
5            5  A POWERHOUSE GIFTING PROGRAM You Don't Want To...      1
6            6  Help wanted.  We are a 14 year old fortune 500...      1
7            7  ReliaQuote - Save Up To 70% On Life Insurance\...      1
8            8  TIRED OF THE BULL OUT THERE?\nWant To Stop Los...      1
9            9  Dear ricardo1 ,\nCOST EFFECTIVE Direct Email A...      1
10          10  Cellular Phone Accessories All At Below Wholes...      1
11          11  Click Here Now !\nSimply Amateur\nJust like th...      1
12          12  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
13          13  FREE Motorola Cell Phone with $50 Cash Back!\n...      1
14          14  Lowest Rate Services\nConferencing Made Easy\n...      1

In [7]:
len(df2.index)

6046

#### Dataset unificado

In [8]:
frames = [df1,df2]
df = pd.concat(frames)

In [9]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Body,Label
0,2469,2469.0,Subject: stock promo mover : cwtd\n * * * urge...,1
1,5063,5063.0,Subject: are you listed in major search engine...,1
2,12564,12564.0,"Subject: important information thu , 30 jun 20...",1
3,2796,2796.0,Subject: = ? utf - 8 ? q ? bask your life with...,1
4,1468,1468.0,"Subject: "" bidstogo "" is places to go , things...",1

In [10]:
len(df.index)

16046

#### Preprocesamiento

In [11]:
df['Body'].str.lower()

0       subject: stock promo mover : cwtd\n * * * urge...
1       subject: are you listed in major search engine...
2       subject: important information thu , 30 jun 20...
3       subject: = ? utf - 8 ? q ? bask your life with...
4       subject: " bidstogo " is places to go , things...
                              ...
6041                                                empty
6042                      ___           ___           ...
6043    in this issue:01. readers write\n02. extension...
6044                                                empty
6045                                                empty
Name: Body, Length: 16046, dtype: object

In [12]:
df['Body'].str.upper()

0       SUBJECT: STOCK PROMO MOVER : CWTD\n * * * URGE...
1       SUBJECT: ARE YOU LISTED IN MAJOR SEARCH ENGINE...
2       SUBJECT: IMPORTANT INFORMATION THU , 30 JUN 20...
3       SUBJECT: = ? UTF - 8 ? Q ? BASK YOUR LIFE WITH...
4       SUBJECT: " BIDSTOGO " IS PLACES TO GO , THINGS...
                              ...
6041                                                EMPTY
6042                      ___           ___           ...
6043    IN THIS ISSUE:01. READERS WRITE\n02. EXTENSION...
6044                                                EMPTY
6045                                                EMPTY
Name: Body, Length: 16046, dtype: object

In [13]:
df['Body'].str.title()

0       Subject: Stock Promo Mover : Cwtd\n * * * Urge...
1       Subject: Are You Listed In Major Search Engine...
2       Subject: Important Information Thu , 30 Jun 20...
3       Subject: = ? Utf - 8 ? Q ? Bask Your Life With...
4       Subject: " Bidstogo " Is Places To Go , Things...
                              ...
6041                                                Empty
6042                      ___           ___           ...
6043    In This Issue:01. Readers Write\n02. Extension...
6044                                                Empty
6045                                                Empty
Name: Body, Length: 16046, dtype: object

In [14]:
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","–"]

In [15]:
for char in spec_chars:
    df['Body'] = df['Body'].str.replace(char, ' ')

In [16]:
df['Body']

0       Subject  stock promo mover   cwtd\n       urge...
1       Subject  are you listed in major search engine...
2       Subject  important information thu   30 jun 20...
3       Subject      utf   8   q   bask your life with...
4       Subject    bidstogo   is places to go   things...
                              ...
6041                                                empty
6042                                                  ...
6043    IN THIS ISSUE 01  Readers write\n02  Extension...
6044                                                empty
6045                                                empty
Name: Body, Length: 16046, dtype: object

In [17]:
df.to_csv(r'/Users/wech/Library/CloudStorage/OneDrive-UniversidaddelValledeGuatemala/11VO SEMESTRE/SECURITY DATA SCIENCE/CC3094/lab02/datasets/output.csv')

#### Representación de texto

# NI RE CONCHA IDEA LMAOO